# Software
export FREESURFER_HOME=/projects/schiz/ra/eli/freesurfer5.3
export ANTSSRC=/projects/schiz/software/ANTS-git/
export ANTSPATH=/projects/schiz/software/ANTS-git-build2/bin/

# case list text file, one case per line
caselist=caselist.txt

# Source data
source $shanghai/SetUpData.sh
# or, if you're adding to or setting up a new dataset, write out the filepaths
# of the raw data. E.g.
# Required
#base=/projects/schiz/ra/azhu/Shanghai/
#dwiraw=${base}$case/raw/$case-dwi-B3000.nrrd
#t1align=${base}$case/strct/align-space/$case-t1w-realign.nhdr
# Optional (needed for dwi epi correction)
#t2raw=${base}$case/raw/$case-t2w.nhdr
