# ==Software==
export FREESURFER_HOME=/projects/schiz/ra/eli/freesurfer5.3
export ANTSSRC=/projects/schiz/software/ANTS-git/
export ANTSPATH=/projects/schiz/software/ANTS-git-build2/bin/
export ANTSPATH_epi=/projects/schiz/software/deprecated/ANTs-1.9.y-Linux/bin/

# ==Caselist== 
caselist=caselist.txt  # case list text file, one case per line

# ==Source data==
 
# Required
#base=/projects/schiz/ra/azhu/Shanghai/
#dwiraw=${base}$case/raw/$case-dwi-B3000.nrrd
#t1align=${base}$case/strct/align-space/$case-t1w-realign.nhdr
 
# Optional (needed for dwi epi correction)
#t2=${base}$case/raw/$case-t2w.nhdr
 
# Or, if you have the variables set in another bash script:
source $shanghai/SetUpData.sh
t2=$t2raw  # Set 't2' if using dwi epi correction
