#!/bin/bash -eu

########## Set these ############################################

pnlutil=/projects/pnl/software/pnlutil/  # path to your 'pnlutil'
#epi_correction=false  # turn DWI epi correction off
epi_correction=true  # turn DWI epi correction on

#################################################################

SCRIPT=$(readlink -m $(type -p "$0"))
scriptdir=$(dirname $SCRIPT)
targetdir=$(dirname "$scriptdir")

dofiles="\
default.dwi-Ed.nrrd.do         \
default.dwibetmask.nrrd.do     \
default.freesurfer.do          \
default.ukf_2T.vtk.gz.do       \
default.fsindwi.nrrd.do  \
default.wmqltracts.do \
default.tractmeasures.csv.do \
default.tractvolumes.csv.do \
"
for dofile in $dofiles; do
    [ -e "$dofile" ] || cp $pnlutil/$dofile $targetdir
done
[ -e default.t1atlasmask.nrrd.do ] || cp $pnlutil/default.atlaslabelmap.nrrd.do $targetdir/default.t1atlasmask.nrrd.do   
if $epi_correction; then 
    cp $pnlutil/default.dwi-epi.nrrd.do $targetdir
    cp $pnlutil/default.dwi-epi-mask.nrrd.do $targetdir
    ln -s $scriptdir/SetUpData_epi.sh $targetdir/SetUpData.sh
else
    ln -s $scriptdir/SetUpData_noepi.sh $targetdir/SetUpData.sh
fi
